/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
    font-family: -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif ;
}

a {
    text-decoration: none;
    color:#5A67D8;
}


.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    
}

header .container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    background-color: white;
    font-size: 18px;

}

ul{
    display: inline-flex;
}

ul li {
    padding: 20px;
    list-style: none;
    text-decoration: none;


}

ul li a {

    color: #6b7280;
}

ul li a:hover{

    color: #5A67D8;
    
}


.cards{
    display: flex;

}
.card{
    padding: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    box-shadow: -1px 5px 5px rgb(146, 146, 146);

    display: flex;
    flex-direction: column;

    border-radius: 5px;
    /* flex: 1; */
    width: 300px;
    height: 500px;
    justify-content: space-between;
    border-color: #E2E8F0;
    box-shadow: inset;

}

.learn-about .container h2{
    font-size: 24px;
    color: #48BB78;

}

.learn-about .container h3{

color: #48BB78;
font-size: 21px;
}

.cta a{
/* color: #48BB78; */
}



.testing{


    background-color:#4A5568 ;
    color: white;
    padding: 100px;

}

.overview-hero{

    background-color: #E2E8F0;
    padding: 100px;
}

.overview-hero .container{

    display: flex;


}

.overview-hero-image img {
    width: 350px;
    padding: 20px;
}

.stories .container article{

    display: flex;
    padding: 30px;
}

.stories .container article img{


    /* height: 300px; */
    width: 300px;
    height: 300px;
    padding :30px;
    border-radius:300px;
}
footer{
    background-color: #4A5568;
    color: white;
    padding: 60px;

}

.newsletter{
    text-align: center;


    background-color: #48BB78;
    color: white;
    padding: 100px;
}

button {


    background-color: #5A67D8;
    color: white;
    /* padding: 10px; */
    padding-left: 20px;
    padding-right: 20px;

    margin-left: 10px;
    border: none;
    border-radius: 2px;

}

form {

    display: flex;
    justify-content: center;

}

input{
    border: none;
    padding:15px;
    border-radius: 2px;
    /* border-radius: 3px; */
}

.newsletter .container {
    width: 400px;
    text-align: left;
}

.newsletter .container h3{

text-align: center;}

.btn {

    color: white;
    background-color: #48BB78;
    border-radius: 5px;
    padding: 20px;
    white-space: nowrap;
    

}

.testing .container{

    display: flex;
    align-items: center;
}



